<% if (comment.is_deleted == false) %>
<p>
  <strong>by <%= comment.commenter %>: </strong>
  <%= comment.body %>
  <%= link_to "delete" , article_comment_path(article_id: @article.id, id: comment.id),
                  method: :delete,
                  data: { confirm: "Are you sure?" }%>
  <br />
  <%= comment.created_at %>
</p>
<% end %>